.main {
    background: rgba(223, 44, 44, 0);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main__img {
    cursor: pointer;
}

.about {
    display: flex;

    align-items: center;
    justify-content: center;
    flex: 1 1 1 1
}